<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" th:href="${'//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css'}">
</head>
<body>
<div>
    <div class="col-md-offset-4 col-md-4 " style="margin-top: 60px">
        <div >
            <input id="logInName" name="logInName" style="margin-top: 30px" placeholder="请输入用户名"
                   required="required"/>
        </div>
        <div  >
            <input id="logInPsw" name="logInPsw" type="password" style="margin-top: 30px" placeholder="请输入密码"
                   required="required"/>
        </div>

        <div >
            <button id="logInButton" class="btn btn-info " style="margin-top: 30px">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</button>
        </div>
        <div >
            <label for="logInButton" id="logFormTip" style="margin-top: 30px"></label>
        </div>
    </div>
</div>
<script th:src="${'//cdn.bootcss.com/jquery/3.3.1/jquery.min.js'}"></script>
<script th:src="${'//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js'}"></script>
<script th:src="@{js/logIn.js}"></script>
</body>
</html>